.grid-line {
    background: url(dist/images/grid-line.jpg) repeat-y center center;
}


/* Number Area */
.column-number .num {
	font-size: 100px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: center;
	color: #0096ff; }

	.column-number .num span {
		font-size: 30px;
		font-weight: 900;
	}
.column-number p {
  	font-size: 14px;
  	font-weight: 600;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.43;
  	letter-spacing: normal;
  	text-align: center;
  	text-transform: uppercase;
  	color: #253039; 
}


/* Design Review Area */
#design-review .inner {
	position: relative;
}
#design-review .inner .dark-grey-box {
	bottom: 100px;
}
#design-review .design-review-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 60%;
    z-index: 0;
}
#design-review .design-review-img .holder {
    height: 100%;
    z-index: 1;
}
#design-review .design-review-img .holder img {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
}





  


