#testimonials {

	.owl-carousel {
		.item {
			background-image: url(../images/Testimonials-background-image-01.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;

			.white-box {     
				background-color: $White;
				color: $secondary-color;
				line-height: 1.67;
				margin: 75px auto;
				padding: 45px 30px;
				position: relative;
				text-align: center;

				@include media-breakpoint-up(xl) { 
				    margin: 180px auto;
				    max-width: 556px;
				}

				&:before {
					background-image: url(../images/icons/quote-mark01.svg);
					background-repeat: no-repeat;
					content: '';
					display: inline-block;
					height: 39px;
				    left: 0;
				    margin: 0 auto;
					position: absolute;  
				    right: 0;   
					top: -22px;
					width: 45px
				}

				&:after {
					background-image: url(../images/icons/quote-mark02.svg);
					background-repeat: no-repeat;   
					content: '';
					display: inline-block;
					height: 39px;
				    left: 0;
				    margin: 0 auto;
					position: absolute;  
				    right: 0;
					bottom: -22px;
					width: 45px
				}

				.name {
					font-size: 18px;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.67;
					letter-spacing: normal;
					color: $secondary-color;

					&:before {
						background-color: $nonary-color;
						content: '';
						display: block;
						height: 2px;
						margin: 0 auto 15px;
						width: 14px;
					}
				}

				h6 {
					color: $octonary-color;
					font-size: 16px;  
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.25;
					letter-spacing: normal;
				}
			} 
		}
	}



	// For Three Column
	&.three-column {
		.carousel-wrapper {
			background-image: url(../images/Testimonials-background-image-02.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			padding: 65px 45px;

			@include media-breakpoint-up(xl) {   
				padding: 120px 100px;
			}

			h2 {
				color: $White;
				line-height: 1.17;
			}
			h5 {
				color: $White;
				font-size: 22px;
				line-height: 1.45;
			}
		}
	  	.owl-carousel {
			.item { 
				background: none;

				.white-box {
					margin: 25px auto 0;
					padding: 45px 30px 35px;
					text-align: left;

					&:before {
						left: 30px;
						right: auto;
					}
					&:after {
						display: none;
					}

					.name {
						margin-bottom: 0;
						padding-left: 25px;
    					position: relative;

						&:before {
							background-color: $secondary-color;
						    left: 0;
							position: absolute;
						    top: 50%;
						}
					}

					h6 { 
						margin: 0;
						padding-left: 25px;
					}
				}
			}
	  	}
	}
}  


