// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4; 
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;


// Colors
$White:         		#ffffff;	
$Black:         		#000000;

$primary-color: 		#0075c7;
$secondary-color: 		#253039;
$tertiary-color: 		#f6f7f8;
$quaternary-color: 		#4b6173;
$quinary-color: 		#384956;
$senary-color: 			#e1a900;
$septenary-color: 		#ffbf00;
$octonary-color: 		#a4afb8;
$nonary-color: 			#dbdfe3;
$denary-color: 			#edeff1;


// Theme Font Family
$primary-font: 			'Barlow';


// Theme Button
$btn-default-color:    	$White;  
$btn-default-bg:     	$primary-color; 
$btn-default-border:   	$primary-color;

$btn-secondary-color:   $White;  
$btn-secondary-bg:     	$secondary-color;   
$btn-secondary-border:  $secondary-color; 

$btn-tertiary-color:   $primary-color;
$btn-tertiary-bg:      transparent;  
$btn-tertiary-border:  $White;
